* {
    box-sizing: border-box;
}

.header-wrap {
    position: fixed;
    width: 100%;
    max-width: 600px;
    padding: 20px 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #394648;
}

/* 로고 */
.logo {
    color: #394648;
    font-size: 32px;
    font-weight: 700;
}

body {
    font-family: 'Helvetica', sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #394648;
}

.wrap {
    width: 600px;
    padding-top: 100px;
    background-color: #ffffff;
}

.terms-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* 각 항목 간의 간격 조정 */
}

.term-text {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    color: #394648;
}

.main-content {
    padding: 40px 100px;
}

.see-full-text {
    color: #888888;
    text-decoration: none;
    font-size: 14px;
    margin-left: auto;
}

.button {
    margin-top: 30px;
}

#next-button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #69995D;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

#next-button:hover {
    background-color: #57834E;
}

#next-button:disabled {
    background-color: #A9A9A9;
    cursor: not-allowed;
}